extends layout

block header
    include main/header/header

block content
    include main/content/content


block scripts
    script(src='js/index.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js')
    script(src='js/snow.js')
    