extends layout

block content
    include shop/content/content


block scripts
    script(src='js/shop.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js')
    script(src='js/snow.js')