header  
    .header__img
    h2.header__title
        |Привет, 
        span.header__name
            |коллега
        |!
    p.header__intro
        |Подводя итоги 2020 года, каждому из нас хотелось бы пожелать друг другу самые теплые слова и похвалить за мужество и отвагу, с которой мы усердной работали всю пандемию. 
        br
        br
        |И сегодня у нас появилась такая приятная воможность! 
        br
        |Скорее регистрируйся и заходи! 
    p.header__rules.header__rules_off
        |Этот год был, мягко говоря, сумбурным, но еще он был очень продуктивным, запоминающимся, необычным, и, на самом деле не таким уж и плохим. Мы многое сделали вместе, мы выросли почти в 2 раза, мы завоевали новых клиентов, мы научились жить в новых реалиях, мы стали больше ценить простые вещи! Поэтому, в канун Нового года, мы предлагаем тебе сыграть в небольшую игру!
        br
        br
        |Что надо делать: вспомнить все хорошее, что с тобой случалось в этом году, вспомнить, чем тебе помогли в этом коллеги, и поблагодарить их за это, прислав звёздочку!
        br
        br
        |Какие правила: 
        br
        |- одному человеку одна звездочка (так можно будет отблагодарить как можно больше людей);
        br
        |- самому себе звездочки не дарим (хвалить себя приятно, но неинтересно);
        br
        |- обязательно пишем, за что дарим (у ребят будет возможность прочесть благодарности, и им будет приятно).
        br
        |Самые милые поздравления будут отображаться в новогоднем чате!
        br
        br
        |Ну что, погнали! Кстати, потом будет сюрприз :)
